/*sytle for video */

.full-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.myVideo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    color: #fff;
    color: #ccc;
    text-align: center;
    background: black;
    border-top: 10px solid lightgray;
    height: 50px;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

h3,
h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

/*contant*/

.column {
    float: right;
    width: 25%;
    background-color: red;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}